/*commentaire du style CSS*/

/*polices*/
@font-face {
  font-family: "Seaside";
  src: url('../polices/seaside.otf');
}
@font-face {
  font-family: "ravenscroft";
  src:url('../polices/ravenscroft.ttf');
}
@font-face {
  font-family: "Montserrat";
  src: url('../polices/montserrat.ttf');
}
@font-face {
  font-family: "Roboto-Light";
  src: url('../polices/montserrat.ttf');
}

#wrap {
  margin: auto;
  width: 960px;
  text-align: center;
}

#pmfont {
  font-family:"ravenscroft";
  font-style: normal;
  font-size: 50px;
  letter-spacing: 4px;
  color: darkgrey;
}

#pmfont.title {
  text-align: center;
}

#pmfont.directions{
  font-size: 40px;
}

#pmfont.centre {
  font-size: 40px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

#degrade {
vertical-align: bottom;
}

#centre {
  text-align: center;
}
#text {
  vertical-align: middle;
  color: white;
}

.imagestitre {
  display:inline-block;
  float: left;
  margin: auto;
}

.imageleft {
      /*vertical-align: top;*/
      float: left;
      /*padding-top: 1%;*/
      padding-left: 14%;
      /*padding-right: 2%;*/
      /*padding-bottom: 2%;*/
      margin-right: 2%;
}

.imageright {
    /* vertical-align: top; */
    float: right;
    /* padding-top: 1%; */
    /* padding-left: 2%; */
    padding-right: 15%;
    /* padding-bottom: 2%; */
    margin-left: 2%;
}

.funfacts {
  font-family: 'Roboto-Light',sans-serif;
  color: white;
  font-size: 17px;
  text-align: justify;
  margin-left: 5%;
  padding-left: 15%;
  padding-right: 15%;
}

.listequestions {
  font-family: 'Roboto-Light',sans-serif;
  color: white;
  font-size: 17px;
  text-align: justify;
  margin-left: 8%;
  padding-left: 15%;
  padding-right: 15%;
}

a.video:link {
 text-decoration:none;
 text-decoration-color: white;
 color: white;
}

a.video:visited {
  text-decoration:none;
  text-decoration-color: white;
  color: white;
}

a.video:hover {
  text-decoration: underline;
  text-decoration-color: white;
  color: white;
}

.frame {
  border: 10px ridge #5D4037 ;
}

a {
  text-decoration:none;
  text-decoration-color: white;
  color: white;
}
a.hover {
  text-decoration: underline;
  text-decoration-color: white;
  color: white;
}
a.visited {
  text-decoration:none;
  text-decoration-color: white;
  color: white;
}
a.copyright{
  text-decoration:none;
  text-decoration-color: white;
  color: white;
  font-size: 12px;
  font-style: italic;
}

img {
  vertical-align: middle;
}

figure {
    margin: 1%;
      display: inline-block;
}

figcaption {
    background-color: transparent;
    color: white;
    font: italic smaller sans-serif;
    padding: 5px;
    text-align: center;
}

body {
  background-image: url(../images/fond.jpg);
  margin-bottom: auto;
  margin-top: auto;
}

pre {
  text-align: left;
  margin-left: 150px;
}

nav {
  background-color: black;
  padding:20px;
}

nav ul {
    margin-bottom: 0%;
    margin-top: 0%;
    padding: 10px;
}

nav ul li {
      display: inline-block;
      margin-left: 3%;
      margin-right: 3%;
      font-size: 18px;
  }

nav ul li a {
  color: white;
  font-family:"seaside", Tahoma, Verdana, Arial;
  font-size:2em;
  text-decoration: none;  /*enlève le souligné*/
}

main {
  background-image: url(../images/fondtransparent.png);
}

footer {
  background-color: black;
  padding: 1px;
}
footer nav ul li a {
  font-size: 1.5em;
}

p {
  font-family: 'Roboto-Light', sans-serif;
  color: white;
  font-size: 17px;
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
}

p.question {
  font-family: 'Roboto-Light', sans-serif;
  font-style: oblique;
  text-decoration: underline;
  font-size: 19px;
}

p.decalage {
  padding-left: 200px;
}

i {
  font-family: serif;
}

h1 {
    text-align: left;
    font-family: 'Seaside', sans-serif;
    font-size: 30px;
    color: white;
    padding-left: 15%;
}

/*------FORMULAIRE CONTACT------*/

form { max-width:420px; margin:50px auto; }

.feedback-input {
    color: white;
    font-family: 'Roboto-Light', Arial, sans-serif;
    font-weight: 500;
    border-radius: 5px;
    line-height: 22px;
    background-color: black;
    border: 2px solid #565d87;
    transition: all 0.3s;
    padding: 5px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

textarea {
  height: 250px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
    font-family: 'ravenscroft', Arial, Helvetica, sans-serif;
    width: 100%;
    background: #353a55;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 30px;
    transition: all 0.3s;
    margin-top: -4px;
}
[type="submit"]:hover { background:#676e9f; }
